._GLOBAL_MOBILE_TABS {
  border: 2px solid red;
  min-width: 20%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-weight: 400;
  margin: 5%;
}

._MOBILE_TAB_INNER_HOLDER {
  border: 2px solid red;
  top: 20%;
  background: white;
  position: absolute;
}
