._GLOAL_MOBILE_FILTER_CONTAINER {
  border: 2px solid red;
  width: 100%;
  display: flex;
  min-height: 70px;
  margin-top: 10%;
  overflow-x: scroll;
  position: relative;

}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-filter {
  animation: fadeInUp 0.5s ease-out;
}


