.QuantityControlContainer {
  display: flex;
  /* border: 2px solid slateblue; */
  margin-top: 4%;
  justify-content: space-between;
  font-size: larger;
  min-height: 40px;
  border-radius: 7px;
  padding: 2%;
}

.Control {
  width: 29%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(46, 0, 82);
  color: white;
  border-radius: 7px;
}

.minus {
  background: rgb(233, 18, 18);
}

.plus {
  background: rgb(50, 155, 2);
}

.Display {
  width: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  background: rgba(212, 212, 212, 0.549);
}

@media (max-width: 450px) {
  .QuantityControlContainer {
    width: 60%;
  }

  .Display {
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 700;
    background: rgba(243, 243, 243, 0.848);
  }
}
