._GLOBAL_MOBILE_FORM_CONTAINER {
  /* border: 2px solid red; */
  display: flex;
  min-height: 677px;
  justify-content: center;
  align-items: center;
  /* padding: 3%; */
  width: 100%;
  flex-direction: column;
}

._GLOBAL_MOBILE_FORM_CONTAINER_INNER {
  min-height: 350px;
  width: 85%;
  border: 2px solid #d0d0d0;
  padding: 3%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

._GLOBAL_MOBILE_FORM_CONTAINER_INNER__ContentMessage {
  /* border: 2px solid navy; */
  display: flex;
}
._GLOBAL_MOBILE_FORM_CONTAINER_INNER__InputsHolder {
  display: flex;
  flex-direction: column;
}

._GLOBAL_MOBILE_FORM_CONTAINER_INNER__BottomMessage {
  margin-top: 5%;
  font-size: 14px;
}

._BottomMessageBold {
  font-weight: 700;
}
