.CheckoutPanelArrayContainer {
  display: flex;
  /* border: 2px solid red; */
  width: 100%;
  justify-content: space-between;
  border-bottom: 2px solid #e1e1e1;
}

.CheckoutPanelArrayContainer_CartContent {
  border: 2px solid red;
}

.CheckoutPanelArrayContainer_Title {
  display: flex;
  width: 40%;
  color: #b52b00;
  font-weight: 600;
  margin: 2%;
}

.CheckoutPanelArray_Details {
  display: flex;
  width: 50%;
  color: #797979;
  margin: 2%;
  /* border: 2px solid yellow; */
  /* align-items: center; */
}

.CheckoutItemHolder {
  min-height: 150px;
  width: 40%;
  /* border: 2px solid rgb(4, 255, 0); */
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
  background: rgba(219, 219, 219, 0.574);
  box-shadow: 2px 2px 2px rgb(204, 204, 204);
}

.CheckoutItemHolder_ImageHolder {
  height: 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.CheckoutItemHolder_ImageHolder > img {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  border-radius: 7px;
}

.CheckoutItemHolder_Details {
  /* border: 2px solid red; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
