._GLOBAL_MOBILE_PRODUCT_CARD {
  border: 2px solid powderblue;
  min-height: 300px;
  width: 100%;
  /* border: 2px solid #009dff; */
  display: flex;
  flex-direction: column;
  padding: 2%;
  align-items: center;
  background: #d4e5ff;
  border-radius: 7px;
  padding: 5%;
}

._GLOBAL_MOBILE_PRODUCT_CARD > img {
  height: 70%;
  width: 100%;
  /* border: 2px solid rgb(0, 0, 0); */
}

._GLOBAL_MOBILE_PRODUCT_CARD_Details {
  /* border: 2px solid lawngreen; */
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 100%;
}

._mobileDisplayName {
  font-weight: 700;
}
