._GLOBAL_MOBILE_HOLDER_ADJUSTED {
  /* border: 2px solid navajowhite; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.SINGLE_PRODUCT_HOLDER_MOBILE_PARENT {
  display: flex;
  justify-content: center;
}
