.BannerContent {
  display: flex;
  flex-direction: column;
  margin-top: 0.5%;
  /* border: 2px solid rgb(0, 183, 255); */
  /* min-width: 80%; */
}

.LogoHeaderContent {
  /* border: 2px solid rgb(30, 0, 255); */
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}

.LeftPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid rgb(239, 8, 227); */
}

.CartButton {
  /* border: 2px solid red; */
  width: 10%;
}

.LinkTag {
  font-size: larger;
  /* border: 2px solid red; */
}

.BannerContainer {
  display: flex;
  margin-top: 0.1%;
  /* border: 2px solid red; */
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.BannerContainer > img {
  /* border: 2px solid red; */
  display: flex;
  height: 100%;
  width: 100%;
}

.ClassifiedButtonContainer {
  /* border: 2px solid yellow; */
  width: 10%;
  /* margin-left: 5%; */
  margin-top: 1%;
  height: 30px;
}

.ClassifiedButtonContainer > button {
  height: 100%;
  width: 100%;
  background: #2e0052;
  color: white;
  border-radius: 7px;
}
