.ProductHandler-Grid {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  margin-bottom: 3%;
}

.ProductHandler-List {
  display: flex;
  flex-direction: column;
}
